
			<!-- FIN CONTENIDO ======================================= -->

|LF_FOOTER|
			<!-- footer -->
			<footer class="footer-cp">
				<p><a class="white" href="http://www.oblakdc.com/">Copyright &copy; 2017 Oblak Datacenter LLC.</a></p>
			</footer><!-- fin footer -->

			</div> <!-- end bc-padding -->
		</div> <!-- end bc-box-content -->
	</div> <!-- fin contenedor der -->
</div> <!-- fin contenedor -->
</body>
</html>
