LANG_LICE_UP=Licensing / Updates
LANG_LICE_VALS=License Values
LANG_LICE_IP=License IP
LANG_LICE_NAME=Name in License
LANG_LID=License ID
LANG_CID=Client ID
LANG_VALID_AFTER=Valid After
LANG_VALID_UNTIL=Valid Until
LANG_CURRENT_TIME=Current Server Time
LANG_TIME_REM=Time Remaining
LANG_LAST_UP=Last Updated
LANG_UP_LICE=Update License
LANG_DA_VALS=Sprava Values
LANG_COMPILED_FOR=Compiled on
LANG_SERVER_VER=Server Version
LANG_CURRENT_VER=Current Available Version
LANG_UPDATE_DA=Update Sprava
LANG_LTYPE=License Type
LANG_INTERNAL=<b>INTERNAL LICENSE</b> -- This special license may not be resold or transferred. For internal datacentre use only. Please contact your server provider for control panel and system technical assistance. Please report unauthorized reselling to sales@Sprava.com
LANG_EXTERNAL=External license
LANG_COMPILE_DATE=Compile Date
LANG_PORTIONED_LICENSE=Portioned License
LANG_PORTIONED_EXPLANATION=This <a target=_blank href="http://help.Sprava.com/item.php?id=378">Portioned License</a> is a license that has a true expiry at a date farther into the future than is set in the physical key. The license will automatically update to the next time period when the key's expiry nears.<br>True expiry:
LANG_LAST_RESTART=Last Restart
LANG_RESTART_DA=Restart Sprava
LANG_DA_NOT_RESTARTED=Sprava has not been restarted since the last license.key update!
