<div id="nav_header" data-role="header" data-position="fixed">
    <nav class="clearfix">
        <ul class="clearfix">
            <li><a rel="external" href="./?_task=mail&amp;_refresh=1&amp;_mbox=INBOX" id="rcsm_mail" title="Mailbox">Webmail</a></li>
                <li><a rel="external" href="./?_task=mail&amp;_action=compose" id="rcsm_mail_compose" title="Compose mail"><roundcube:label name="compose" /></a></li>
                <li><a rel="external" href="./?_task=addressbook" id="rcsm_mail_addressbook" title="Addressbook"><roundcube:label name="addressbook" /></a></li>
                <li><a rel="external" href="./?_task=settings" id="rcsm_mail_settings" title="Settings"><roundcube:label name="settings" /></a></li>
                <li><a rel="external" href="./?_task=logout" id="rcsm_logout" title="Signout" onclick="return rcmail.command('switch-task','logout',this,event)">Signout</a></li>
            <li><a rel="external" href="javascript:void(0)" id="rcsm_mail_user" title="<roundcube:object name='username' />"><roundcube:object name="username" /></a></li>
        </ul>
        <a href="#" id="pull" onclick="$('nav ul').toggle(100);">Menu</a>
    </nav>
</div>
<span id="activation_span" style = "display:none;"><roundcube:var name="config:activation"></span>

<div id="message_div_outer">
    <div id="rcmabooklisttitle" class="boxtitle activation_status" style = "display:none;background-color:#d9202a;color:#fff;text-shadow:none;"></div>
    <roundcube:object name="message" id="message_inner" class="ui-corner-all login_msg_50" />
</div>

<script type="text/javascript">
    $(function() {
        $(window).resize(function() {
            var w = $(window).width(),
                    menu = $('nav ul');
            if (w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
