LANG_LICE_UP=Licenciamiento / Actualizaciones
LANG_LICE_VALS=Valores de la Licencia
LANG_LICE_IP=IP de la Licencia
LANG_LICE_NAME=Nombre en la licencia
LANG_LID=ID de la Licencia
LANG_CID=ID del Cliente
LANG_VALID_AFTER=Valida despues
LANG_VALID_UNTIL=Valida hasta
LANG_CURRENT_TIME=Tiempo actual del Servidor
LANG_TIME_REM=Tiempo remanente
LANG_LAST_UP=Ultima actualizacion
LANG_UP_LICE=Actualizar licencia
LANG_DA_VALS=Valores de Sprava
LANG_COMPILED_FOR=Compilado para
LANG_SERVER_VER=Version de Sprava
LANG_CURRENT_VER=Version actualmente disponible
LANG_UPDATE_DA=Actualizar Sprava
LANG_LTYPE=Tipo de licencia
LANG_INTERNAL=<b>INTERNAL LICENSE</b> -- This special license may not be resold or transferred. For internal datacentre use only. Please contact your server provider for control panel and system technical assistance. Please report unauthorized reselling to sales@Sprava.com
LANG_EXTERNAL=External license
LANG_COMPILE_DATE=Fecha de compilaci&oacute;n
LANG_PORTIONED_LICENSE=Portioned License
LANG_PORTIONED_EXPLANATION=This <a target=_blank href="http://help.Sprava.com/item.php?id=378">Portioned License</a> is a license that has a true expiry at a date father into the future than is set in the physical key. The license will automatically update to the next time period when the key's expiry nears.<br>True expiry:

