|LF_LEVEL|

<!-- INICIO SUB MENU ======================================= -->

<nav class="sub-nav noselect">

			<!-- nivel usuario -->

            <div class="sv-boton--box sv-boton--left">
              <ul>
                <li>

                  <!-- boton nivel usuario -->

                  <label for="show" class="sv-boton" ng-click="user_level = !user_level">
                    <div class="sv-boton--level">
                      <span class="icon-person sm-b-icon sm-b-icon-reseller"></span>
                      <span>|SUB_MENU_RESELLER|</span>
                    </div>
                  </label>

                  <!-- sub-menu boton nivel usuario -->

                  <ul class="ng-hide svb-left" ng-show="user_level">
                    <li>
                      <a href="/">
                        <span class="icon-person sm-b-icon sm-b-icon-admin"></span>
                        <span>|SUB_MENU_ADMIN|</span>
                      </a>
                    </li>
                    <li>
                      <a href="/HTM_INDEX_RESELLER">
                        <span class="icon-person sm-b-icon sm-b-icon-reseller"></span>
                        <span>|SUB_MENU_RESELLER|</span>
                      </a>
                    </li>
                    <li>
                      <a href="/HTM_INDEX_USER">
                        <span class="icon-person sm-b-icon sm-b-icon-user"></span>
                        <span>|SUB_MENU_USER|</span>
                      </a>
                    </li>
                  </ul>

                </li>
              </ul>
            </div>

            <!-- nivel usuario icono -->

            <div class="sv-boton--left---icon">

              <div class="svbli-box">

                <a href="/">
                  <span class="svlib-icon color-bg-to-admin text-admin">
                    <span class="icon-person"></span>
                    <div class="svbli-info svbli-pos--admin">
                    	|SUB_MENU_ADMIN|
                    </div>
                  </span>
                </a>
                

                <a href="/HTM_INDEX_RESELLER">
                  <span class="svlib-icon color-bg-reseller text-reseller">
                    <span class="icon-person"></span>
                    <div class="svbli-info svbli-pos--reseller">
                    	|SUB_MENU_RESELLER|
                    </div>
                  </span>
                </a>

                <a href="/HTM_INDEX_USER">
                  <span class="svlib-icon color-bg-to-user text-user">
                    <span class="icon-person"></span>
                    <div class="svbli-info svbli-pos--user">
                       |SUB_MENU_USER|
                  	</div>
                  </span>
                </a>                

              </div>

            </div>

            <!-- perfil -->

            <div class="sv-boton--box sv-boton--right">
              <ul>
                <li>

                  <!-- boton mi nick -->

                  <label for="show" class="sv-boton" ng-click="perfil_status = !perfil_status">
                    <div class="sv-boton--perfil">
                      <span>|USERNAME|</span>
                      |*if NEWMESSAGES!="0"|
                        <span class="comentarios-cantidad">
                          |NEWMESSAGES|
                        </span>
                      |*endif|
                    </div>
                  </label>

                  <!-- sub-menu boton mi nick -->

                  <ul class="ng-hide svb-right" ng-show="perfil_status">
                    <li>
                      <a href="/HTM_PASSWD">
                        <span class="icon-vpn-key sm-b-icon sm-b-icon-key"></span>
                        <span>|SUB_MENU_PASSWORD|</span>
                      </a>
                    </li>
                    <li>
                      <a href="/CMD_TICKET?sort1=-1">
                        <span class="icon-message sm-b-icon sm-b-icon-message"></span>
                        <span>|SUB_MENU_MESSAGES|</span>
                      </a>
                    </li>
                    <li class="no-bor">
                      <a href="/CMD_LOGOUT">
                        <span class="icon-exit-to-app sm-b-icon sm-b-icon-logout"></span>
                        <span>|SUB_MENU_LOGOUT|</span>
                      </a>
                    </li>
                  </ul>

                </li>
              </ul>
            </div>


</nav>

<!-- INICIO CONTENIDO ======================================= -->

<div class="contenedor">

	<!-- CONTENIDO IZQ (Stats) -->

	<div class="contenedor-izq">
		<div class="left-content">

			<div class="lc-titulo">
				<span class="icon-flash-on icon color-reseller"></span>
            	<h3>|SUB_NAV_QUICK_LINKS|</h3>
            </div> 
			<div class="lc-content">
				<div class="lc-content--links">
					<ul>
						<li>
							<a href="/|HOME_MEMORY|">
								<span class="icon-home lc-icon lc-icon--color"></span>
								<span>|SUB_NAV_HOME|</span>
							</a>
						</li>
						<li>
							<a href="/CMD_FILE_MANAGER">
								<span class="icon-folder lc-icon lc-icon--color"></span>
								<span>|SUB_NAV_FILE_MANAGER|</span>
							</a>
						</li>
						<li>
							<a href="|HTTP|://|HOSTNAME|/phpmyadmin" target="_blank">
								<span class="icon-perm-data-setting lc-icon lc-icon--color"></span>
								<span>|SUB_NAV_PHPMYADMIN|</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

	        <div class="lc-titulo">
	        	<span class="icon-poll icon color-reseller"></span>
            	<h3>|SUB_NAV_STATS|</h3>
            </div> 
			<div class="lc-content">

				<h4>|SUB_NAV_RESELLER_DISK_SPACE|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERQUOTAMAX|" value="|RESELLERQUOTA|"></progress>
					</div>
					<div class="bar-details">
						<p>{{|RESELLERQUOTA| | number:0}} / |RESELLERQUOTAMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_BANDWIDTH|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERBANDWIDTHMAXGIG|" value="|RESELLERBANDWIDTHGIG|"></progress>
					</div>
					<div class="bar-details">
						<p> {{|RESELLERBANDWIDTHGIG| | number:0}} Gbb / |RESELLERBANDWIDTHMAXGIG|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_USERS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="100" value="1"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERUSERS|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_DOMAINS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERDOMAINSMAX|" value="|RESELLERDOMAINS|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERDOMAINS| / |RESELLERDOMAINSMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_FORWARDER|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="100" value="1"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERFORWARDER| / |RESELLERFORWARDERMAX| </p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_AUTORESPONDER|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERRESPONDERMAX|" value="|RESELLERRESPONDER|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERRESPONDER| / |RESELLERRESPONDERMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_EMAIL_ACCOUNTS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="100" value="1"></progress>
					</div>
					<div class="bar-details">
						<p>|ADMINEMAIL|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_DOMAIN_POINTER|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERPOINTERSMAX|" value="|RESELLERPOINTERS|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERPOINTERS| / |RESELLERPOINTERSMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_DATABASE|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="100" value="1"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERDATABASE| / |RESELLERDATABASEMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_FTP_ACCOUNTS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERFTPMAX|" value="|RESELLERFTP|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERFTP| / |RESELLERFTPMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_EMAIL_ACCOUNTS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLEREMAILMAX|" value="|RESELLEREMAIL|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLEREMAIL| / |RESELLEREMAILMAX|</p>
					</div>
				</div>

				<h4>|SUB_NAV_RESELLER_SUB_DOMAINS|</h4>
				<div class="lc-content--bar">
					<div class="bar">
						<progress max="|RESELLERSUBDOMAINSMAX|" value="|RESELLERSUBDOMAINS|"></progress>
					</div>
					<div class="bar-details">
						<p>|RESELLERSUBDOMAINS| / |RESELLERSUBDOMAINSMAX|</p>
					</div>
				</div>


			</div>

		</div>
	</div><!-- fin contenedor-izq -->

	<div class="contenedor-der">
		<div class="box-content">
			<div class="bc-padding">
