LANG_LOGIN_KEYS=Login Keys
LANG_CREATE_NEW_LOGIN_KEY=Create new Login Key
LANG_LOGIN_KEY_EXPLANATION=- Login keys allow you to create extra passwords for your account.<br>- However, these password have attributes, such as the ability to expire, usage limit, and can be limited to certain functions.<br>- Note that the Login Keys are one-way encrypted, just like passwords.  They cannot be retrieved if you forget them.<br>- The login username used will still be your normal DA username.<br>
LANG_KEY_NAME=Key Name
LANG_KEY_VALUE=Key Value
LANG_RE_ENTER_KEY=Re-Enter Key
LANG_RANDOM=Random
LANG_EXPIRES_ON=Expires on
LANG_NEVER=Never
LANG_USES=Uses
LANG_USES_EXPLANATION=Number of commands that can be used with this key. 0=Unlimited
LANG_CURRENT_PASSWORD=Current Password
LANG_COMMANDS=Commands
LANG_ALLOWED_IPS=Allowed IPs
LANG_IPS_EXPLANATION=One IP per line.<br>Ranges allowed: 1.2.3.4-5<br>Leave blank to allow any IP.
LANG_LOGIN_KEYS_RULES=If no commands are checked (allow and deny), all commands are allowed.<br>The priorities for allow and deny are <a target=_blank href="http://www.Sprava.com/features.php?id=1171">listed here</a>.<br>The ALL_USER type commands are replaced with all commands the User is allowed, at that level.
LANG_MODIFY_LOGIN_KEY=Modify Login Key
LANG_LEAVE_BLANK_FOR_NO_CHANGE=Leave key values blank for no change
LANG_CLEAR_KEY=Clear Key
LANG_AUTO_DELETE=Automatically delete the key once the key expires, or all uses are used.
LANG_KEY_DEFINITION=A label to manage the keys.  This is not the login username.
LANG_ALLOW_HTM=Allow HTM
LANG_ALLOW_HTM_EXPLANATION=Allows browsing of the DA interface to HTM, IMG and CSS files.
LANG_ALL_USER_WARNING=<b>Please Note</b> that if a key is allowed to access ALL_USER, CMD_LOGIN_KEYS, or CMD_API_LOGIN_KEYS,<br>that key will have sufficient privileges to create another key of higher privilege.<br>Please keep this is mind when chosing a key's privileges.
LANG_CREATE=Create Login Key
LANG_MODIFY=Modify Login Key
